*{
    box-sizing: border-box;
}
body {
    font-family: Helvetica;
    margin: 0;
    padding:0;
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    font-weight: 400;
}

.main-header {
    background-color: #222;
    color: #fff;
    overflow: hidden;
    padding: 0.5rem;
}

.main-header h1 {
    line-height: 1;
    margin: 0;
    font-weight: 400;
}

.main-header a {
    color: white;
    text-decoration: none;
}

.main-content {
    padding: 0.5rem;
}





.search-page {
    text-align: center;
}

.search-page__input {
    border: 1px solid black;
    padding: 0.2em;
    margin-right: 1em;
    font-size: 20px;
}
.search-page__button {
    border: 1px solid black;
    background-color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.user-page{
    width: 60%;
    margin:10px auto;
    border-bottom:1px solid #efefef;
    border-top:1px solid #efefef;
}
.user-page:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.user-info {
    display: flex;
    flex-wrap: wrap;
}

.user-info__avatar {
    border-radius: 10%;
    width: 80px;
    height: 80px;
    margin: 1em;
    float: left;
}

.user-info__text {
    text-decoration: none;
    flex: 1;
    display: flex;
    align-items: center;
}

.user-info__title {
    font-size: 20px;
    text-align:left;
    margin: 0;
}

.user-info__title, .user-info__bio {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user-info__stats {
    list-style: none;
    padding: 0;
    flex: 1;
    display: flex;
}

.user-info__stats a {
    color: #000;
    text-decoration: none;
    text-transform: lowercase;
    font-variant: small-caps;
    text-align: center;
}

.user-info__stat {
    flex: 1;
}

.user-info__stat p {
    margin: 0;
    white-space: nowrap;
}

.no-user-found{
  margin-top:20px;
  font-size: 18px;
}

.search-header{
  font-size: 34px;
  font-family: fantasy;
  text-transform: uppercase;
  border-bottom: solid 3px #333333;
  text-shadow: 2px 2px red;
  margin-bottom: 25px;
}



.details-page{
  display:flex;
  width:75%;
  margin: 20px auto;
}

.user-detail{
  flex:1;
  height:600px;
}
.user-detail-avatar{
  border-radius: 4%;
  height:270px;
  width:250px;
  margin:1em;
  margin-left:0px;
}

.user-repo-detail{
  flex:1;
  height:600px;

}

.repo-container{
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  margin:1.5em 0px;
  cursor: pointer;
}

.repo-container:hover{
  background: #efefef;
}

.repo-container > a{
    text-decoration: none;
}

.repo-name{
  font-size:20px;
  font-weight: bolder;
  color: skyblue;
  margin-bottom:10px;
}
.repo-description{
  color:#333333;
  font-size:14px;
  font-weight:400;
  margin-bottom:10px;
}

.main-lang{
  margin-right:10px;
  background:orange;
  color: #ffffff;
  border-radius: 3px;
  padding:2px 10px;
  font-size:12px;
}

.forks{
  margin-right:10px;
  background:blue;
  color: #ffffff;
  border-radius: 3px;
  padding:2px 10px;
  font-size:12px;
}

.stars{
  margin-right:10px;
  background:green;
  color: #ffffff;
  border-radius: 3px;
  padding:2px 10px;
  font-size:12px;
}

.lastupdate{
  margin-right:10px;
  background: black;
  color: #ffffff;
  border-radius: 3px;
  padding:2px 10px;
  font-size:12px;
}
